:root {
    background-color: lightblue;
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size: 2.5rem;
    font-weight: bold;
}

body {
    display: grid;
    grid-template: 1fr 3fr 6fr / 1fr 2fr 1fr;
    padding: 1rem 2.5rem;
}
#search-form {
    grid-area: 1 / 1 / 2 / 4;
    justify-self: center;
    align-items: center;
}

#search-form > input {
    height: 1.2rem;
    font-size: 1.2rem;
    border-radius: 5rem;
    border: none;
}
#search-form > input::placeholder {
    position: absolute;
    left: 7px;
    top: -1px;
}

#search-form > button {
    height: 1.3rem;
    font-size: 1.2rem;
    border-radius: 5rem;
    border: none;
    background-color: lightgreen;
    color: black;
    font-weight: bold;
}
#search-form > button:hover {
    background-color: rgb(70, 218, 70);
}

#location-info {
    grid-area: 2 / 1 / 4 / 2;
}

#location-time {
    grid-area: 2 / 3 / 3 / 4;
}

#important-info {
    grid-area: 2 / 2 / 4 / 3;
    justify-self: center;
    padding: 1rem 0rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


#extra {
    grid-area: 3 / 3 / 4 / 4;
}

#sky-condition-image {
    height: 7rem;
    width: 7rem;
}
